<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>

        <key>Label</key>
        <string>com.github.fudesign2008.share-clipboard.plist</string>

        <key>RunAtLoad</key>
        <true/>

        <key>StandardErrorPath</key>
        <string>/absolute/path/to/share-clipboard/stderr.log</string>

        <key>StandardOutPath</key>
        <string>/absolute/path/to/share-clipboard/stdout.log</string>

        <key>EnvironmentVariables</key>
        <dict>
            <key>PATH</key>
            <string><![CDATA[/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin]]></string>
        </dict>

        <key>WorkingDirectory</key>
        <string>/absolute/path/to/share-clipboard</string>

        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/npm</string>
            <string>run</string>
            <string>client</string>
        </array>

    </dict>
</plist>

